.blogContent {
  @apply bg-pink-300 w-4/5;
}

.content {
  @apply mt-8 w-auto;
}

.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}
.markdown h1 {
  @apply text-4xl;
}

.markdown h2 {
  @apply font-secondary font-bold text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown strong {
  @apply font-bold inline;
  background: linear-gradient(to right, #d348a7 0%, #026ec5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.markdown hr {
  background: linear-gradient(to right, #d348a7 0%, #026ec5 100%);
  height: 2px;
}
